[gerrit]
	basePath = git
	canonicalWebUrl = http://172.30.36.171:8020/
[database]
	type = H2
	database = db/ReviewDB
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[sendemail]
	smtpServer = 172.30.36.171
[container]
	user = gerrit
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
