[gerrit]
	basePath = git
	canonicalWebUrl = http://172.30.36.169:8080/
[database]
	type = h2
	database = db/ReviewDB
[index]
	type = LUCENE
[auth]
	type = ldap
[ldap]
  server = ldap://172.30.36.128:1389
  username = cn=root,dc=msystechnologies,dc=local
  password = mst12345
  accountBase = ou=people,dc=msystechnologies,dc=local
  groupBase = ou=group,dc=msystechnologies,dc=local
  groupMemberPattern = (member=${dn})
  accountFullName = cn
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit2
	javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.65-3.b17.el7.x86_64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
