[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = false
	createNewChangeForAllNotInTarget = true
[submit]
	mergeContent = true
[capability]
	administrateServer = group Administrators
	priority = batch group Non-Interactive Users
	streamEvents = group Non-Interactive Users
	createGroup = group Administrators
	viewAllAccounts = group Administrators
	createProject = group Administrators
	createProject = group Integrator
	createProject = group Non-Interactive Users
	createProject = group reviewer
[access "refs/heads/*"]
	create = group Administrators
	create = group Integrator
	create = group committer
	forgeAuthor = group Administrators
	forgeAuthor = group Integrator
	forgeAuthor = group committer
	forgeCommitter = group Administrators
	push = group Administrators
	push = group Integrator
	push = group Non-Interactive Users
	submit = group Integrator
	submit = group committer
	editTopicName = +force group Administrators
	editTopicName = +force group Project Owners
	label-Verified = -1..+1 group Integrator
	label-Verified = -1..+1 group reviewer
	label-Verified = +0..+1 group Non-Interactive Users
	read = group Anonymous Users
	read = group Integrator
	read = group Non-Interactive Users
	read = group committer
	read = group reviewer
	pushMerge = group Integrator
	label-Code-Review = -2..+2 group Integrator
	label-Code-Review = -2..+2 group reviewer
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	read = group Administrators
	read = group Project Owners
	push = group Administrators
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	submit = group Administrators
	submit = group Project Owners
[access "refs/tags/*"]
	pushTag = group Administrators
	pushTag = group Integrator
	pushTag = group Project Owners
	pushTag = group committer
	pushTag = group reviewer
	pushSignedTag = group Administrators
	pushSignedTag = group Project Owners
	read = group Non-Interactive Users
	read = group committer
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyMinScore = true
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	defaultValue = 0
[access "refs/for/refs/heads/*"]
	push = group Integrator
	push = group Non-Interactive Users
	push = group committer
	pushMerge = group Integrator
	pushMerge = group committer
	forgeCommitter = group Integrator
	label-Code-Review = -2..+2 group Integrator
	label-Code-Review = -2..+2 group reviewer
